<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95320653874-tesvpj4pe72jtsbrpcneput1mgn2n319.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95320653874-tesvpj4pe72jtsbrpcneput1mgn2n319</string>
	<key>API_KEY</key>
	<string>AIzaSyDAd18ewfGViCphDxbpOa5SussK0mxOUe8</string>
	<key>GCM_SENDER_ID</key>
	<string>95320653874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-ddcbd</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-ddcbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95320653874:ios:c501cdc6184a31f16f3c2b</string>
</dict>
</plist>